@font-face {
  font-family: "Neue";
  src: local("Neue"), url(./fonts/Neue/NeueHaasUnicaPro.otf) format("opentype");
}

@font-face {
  font-family: "Eurostile";
  src: local("Eurostile"),
    url(./fonts/Eurostile/EuroStyleNormal.ttf) format("truetype");
}

@font-face {
  font-family: "Eurostile";
  font-weight: 900;
  src: local("Eurostile"),
    url(./fonts/Eurostile/EurostileBold.ttf) format("truetype");
}

.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}
